.card {
  display: flex;
  flex-direction: column;
  min-height: 100px;

  &:hover {
    cursor: pointer;
  }

  .card-img-top {
    border-radius: 5px;
    box-shadow: 2px -1px 26px rgba(16,22,26,0.75);
  }

  .card-body {
    color: white;
    p {
      padding: 0 10px;
      margin: 0;
    }

    .movie-title {
      font-weight: 600;
      margin-top: 10px;
      font-size: 15px;
    }

    .movie-year {
      font-size: 12px;
    }
  }

}

.card-container {
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));;
  grid-auto-rows: auto;
  grid-gap: 2rem;
}