@import './variables.scss';

.hero {
  height: 100vh;
  // background: url(../assets/cruella.jpg);
  // background-size: cover;
  // background-position: center;
  display: flex;
  justify-content: center;
  padding: 0 10vw;
  color: #fff;

  &::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background: rgb(27,38,44);
    background: linear-gradient(0deg, rgba(27,38,44,1) 10%, rgba(27,38,44,0.5018382352941176) 100%);
    position: absolute;
    bottom: 0;
  }

  .hero_item {
    height: 75%;
    z-index: 1;
    position: absolute;
    bottom: 0;
    width: 80%;
    h1 {
      margin: 10px;
    }
    .hero_content {
      width: 100%;
      display: flex;
      align-items: center;
      
      .hero-img-card {
        width: 25%;
        border-radius: 5px;
        box-shadow: 2px -1px 26px rgba(16,22,26,0.75);
        margin: 10px;
      }

      .hero_desc {
        flex-basis: 75%;
        margin: 30px 0;
        &__title {
          font-size: 2.5rem;
          font-weight: bold;
        }

        &__overview {
          font-size: 14px;
        }
      }
    }
  }
}