@import './variables.scss';

@media screen and (max-width: 767px){
  .main-header{
    .menu-icon {
      display: block;

      &-line {
        animation: closedMid 0.8s backwards;
        animation-direction: reverse;

        &::before {
          animation: closedTop 0.8s backwards;
          animation-direction: reverse;
        }

        &::after {
          animation: closedBottom 0.8s backwards;
          animation-direction: reverse;
        }
      }

    }
    .nav-links {
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      padding: 10rem 0;
      height: 100vh;
      width: 100vw;
      font-size: #fff;
      background: $blue1-color;
      transition: 
        opacity .8s .5s,
        clip-path 1s .5s;
      clip-path: circle(200px at top right);
    }

    .menu-button:checked ~ .nav-links {
      opacity: 1;
      clip-path: circle(100% at center);
    }

    .menu-button:checked ~ .menu-icon {
      .menu-icon-line {
        background: #fff;
        animation: openMid 0.8s forwards;

        &::before, &::after {
          background: #fff;
        }

        &::before {
          animation: openTop 0.8s forwards;
        }

        &::after {
          animation: openBottom 0.8s forwards;
        }

      }
    }
  }

  .hero_content {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .hero_item {
    h1 {
      text-align: center;
    }
  }
}

@keyframes openTop {
  0% {
    transform: translateY(-5px) rotate(0deg);
  }
  50% {
    transform: translateY(0px) rotate(0deg);
  }
  100% {
    transform: translateY(0px) rotate(90deg);
  }
}

@keyframes openMid {
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(45deg);
  }
}

@keyframes openBottom {
  0% {
    transform: translateY(5px) rotate(0deg);
  }
  50% {
    transform: translateY(0px) rotate(0deg);
  }
  100% {
    transform: translateY(0px) rotate(90deg);
  }
}

@keyframes closedTop {
  0% {
    transform: translateY(-5px) rotate(0deg);
  }
  50% {
    transform: translateY(0px) rotate(0deg);
  }
  100% {
    transform: translateY(0px) rotate(90deg);
  }
}

@keyframes closedMid {
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(45deg);
  }
}

@keyframes closedBottom {
  0% {
    transform: translateY(5px) rotate(0deg);
  }
  50% {
    transform: translateY(0px) rotate(0deg);
  }
  100% {
    transform: translateY(0px) rotate(90deg);
  }
}