@import './hero.scss';
@import './variables.scss';

.container {
  width: 80%;
  margin: 2rem auto;

  p {
    margin: 1rem 0;
  }
}

.main-header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 65px;
  width: 100vw;
  padding: 0 10vw;
  color: white;
  z-index: 2;
  transition: .5s ease-out;

  a {
    text-decoration: none;
    color: inherit;
    text-transform: uppercase;
  }

  .nav-links {
    display: flex;
    list-style: none;

    .nav-link {
      text-shadow: 1px 1px 1px rgba(0,0,0, $alpha: 0.7);
      a {
        margin: .2rem;
        padding: 1rem .5rem;
      }

      a:hover {
        background: rgba($blue2-color, .25);
        border-radius: 5px;
        transition: .25s;
      }
    }
  }

  .menu-icon {
    position: relative;
    padding: 26px 10px;
    cursor: pointer;
    z-index: 2;
    display: none;

    &-line {
      display: block;
      position: relative;
      background: white;
      height: 2px;
      width: 20px;
      border-radius: 4px;
      transition: background .8s ease;

      &::before, &::after {
        content: '';
        position: absolute;
        height: 100%;
        width: 100%;
        border-radius: 4px;
        background-color: white;
        transition: background .8s ease;
      }

      &::before {
        transform: translateY(-5px);
      }
      &::after {
        transform: translateY(5px);
      }
    }
  }

  .menu-button {
    display: none;
  }

  &.scrolled {
    height: 50px;
    background: $blue0-color;
    color: white;
    box-shadow: 0px 0px 25px 1px rgba(0,0,0,0.57);
    
    .menu-icon {
      &-line, &-line::before, &-line::after {
        background: white;
      }
    }
  }
}

