<template>
    <div>
        <Hero
            text="People Trending #1"
            :title="`${personDetail.name}`"
            :year="`${countAge(personDetail.birthday)} Years Old`"
            :overview="`${personDetail.biography}`.substring(0,300) + ' . . .'"
            :posterPath="`https://image.tmdb.org/t/p/w780${personDetail.profile_path}`"
            :backdropPath="`https://image.tmdb.org/t/p/original${personDetail.profile_path}`"
        />
        <div class="container">
            <h1 style="color:white">Popular People</h1>
            <div class="card-container">
                <template v-for="people in listPeople">
                <MovieCard
                    :key="people.id"
                    :title="people.name"
                    year=""
                    :imagesrc="`https://image.tmdb.org/t/p/w780${people.profile_path}`"
                />
                </template>
            </div>
        </div>
    </div>
</template>

<script>
import axios from 'axios'
import MovieCard from '@/components/MovieCard.vue'
import Hero from '@/components/Hero.vue'
export default {
  name: 'People',
  components: {
    MovieCard, Hero
  },
  data: function () {
    return {
      listPeople: [],
      personDetail: {}
    }
  },
  methods: {
    countAge: function (age) {
      var dob = new Date(`${age.substring(8, 10)}/${age.substring(5, 7)}/${age.substring(0, 4)}`)
      var monthDiff = Date.now() - dob.getTime()
      var ageDt = new Date(monthDiff)
      var year = ageDt.getUTCFullYear()
      var usia = Math.abs(year - 1970)
      return usia
    }
  },
  mounted () {
    axios
      .get(`${this.$store.state.BASE_URL}/person/popular?api_key=${this.$store.state.API_KEY}`)
      .then(response => {
        this.listPeople = response.data.results
      })
    axios
      .get(`${this.$store.state.BASE_URL}/trending/person/week?api_key=${this.$store.state.API_KEY}`)
      .then(response => {
        axios
          .get(`${this.$store.state.BASE_URL}/person/${response.data.results[0].id}?api_key=${this.$store.state.API_KEY}`)
          .then(response => {
            this.personDetail = response.data
          })
      })
  }
}
</script>
