<template>
    <div>
        <Hero
            text="TV Show Trending #1"
            :title="`${trendingItem.name}`"
            :year="`${trendingItem.first_air_date}`.substring(0,4)"
            :overview="`${trendingItem.overview}`.substring(0,300) + ' . . .'"
            :posterPath="`https://image.tmdb.org/t/p/w780${trendingItem.poster_path}`"
            :backdropPath="`https://image.tmdb.org/t/p/original${trendingItem.backdrop_path}`"
        />
        <div class="container">
            <h1 style="color:white">What's Popular</h1>
            <div class="card-container">
                <template v-for="tvshow in listTVShow">
                <MovieCard
                    :key="tvshow.id"
                    :title="tvshow.name"
                    :year="tvshow.first_air_date.substring(0,4)"
                    :imagesrc="`https://image.tmdb.org/t/p/w780${tvshow.poster_path}`"
                />
                </template>
            </div>
        </div>
    </div>
</template>

<script>
import axios from 'axios'
import MovieCard from '@/components/MovieCard.vue'
import Hero from '@/components/Hero.vue'
export default {
  name: 'TVShows',
  data: function () {
    return {
      listTVShow: [],
      trendingItem: {}
    }
  },
  components: {
    MovieCard, Hero
  },
  mounted () {
    axios
      .get(`${this.$store.state.BASE_URL}/tv/popular?api_key=${this.$store.state.API_KEY}`)
      .then(response => {
        this.listTVShow = response.data.results
      })

    axios
      .get(`${this.$store.state.BASE_URL}/trending/tv/week?api_key=${this.$store.state.API_KEY}`)
      .then(response => {
        this.trendingItem = response.data.results[0]
      })
  }
}
</script>
