<template>
  <footer>
    <p>Arif Rahman Amrul Ghani</p>
  </footer>
</template>

<script>
export default {
  name: 'Footer'
}
</script>

<style lang="scss">
footer {margin-top: auto;
  width: 100%;
  background-color: #10161A;
  color: white;
  text-align: center;

  p {
    padding: 10px 0;
  }
}
</style>
