<template>
    <div class="hero" :style="backdropStyle">
      <div class="hero_item">
        <h1>{{ text }}</h1>
        <div class="hero_content">
          <img class="hero-img-card" :src="posterPath" alt=""/>
          <div class="hero_desc">
            <p class="hero_desc__title">{{ title }} ({{ year }})</p>
            <p class="hero_desc__overview">{{ overview }}</p>
          </div>
        </div>
      </div>
    </div>
</template>

<script>
export default {
  name: 'Hero',
  props: {
    title: {
      type: String
    },
    year: {
      type: String
    },
    overview: {
      type: String
    },
    text: {
      type: String
    },
    posterPath: {
      type: String
    },
    backdropPath: {
      type: String
    }
  },
  computed: {
    backdropStyle: function () {
      return {
        background: `url(${this.backdropPath}) center center / cover`
      }
    }
  }
}
</script>

<style lang="scss">
@import '@/styles/hero.scss';
</style>
