<template>
  <div class="card">
    <img class="card-img-top" :src="imagesrc" alt=""/>
    <div class="card-body">
      <p class="movie-title">{{ title }}</p>
      <p class="movie-year">{{ year }}</p>
    </div>
  </div>
</template>

<script>
export default {
  name: 'MovieCard',
  props: {
    title: {
      type: String
    },
    year: {
      type: String
    },
    imagesrc: {
      type: String
    }
  }
}
</script>

<style lang="scss">
@import '../styles/card.scss';

</style>
