<template>
  <header class="main-header">
    <div class="logo">
      <a href="/"><img src='../assets/tmdb_logo.svg' alt='' width="150px" height="auto" /></a>
    </div>

    <input type="checkbox" class="menu-button" id="menu-button"/>
    <label for="menu-button" class="menu-icon">
      <span class="menu-icon-line">
      </span>
    </label>

    <ul class="nav-links">
      <li class="nav-link" v-for="item in navlink" :key="item.link">
        <a :href='item.link'>{{ item.title }}</a>
        <!-- <router-link :to="{ name: 'Movies'}">{{ item.title }}</router-link> -->
      </li>
    </ul>
  </header>
</template>

<script>
export default {
  name: 'Navbar',
  data: function () {
    return {
      navlink: [
        { title: 'Home', link: '/' },
        { title: 'Movies', link: '/movie' },
        { title: 'TV Shows', link: '/tv' },
        { title: 'People', link: '/people' }
      ]
    }
  },
  methods: {
    handleSCroll (event) {
      const header = document.querySelector('.main-header')
      if (window.scrollY > 20) {
        header.classList.add('scrolled')
      } else {
        header.classList.remove('scrolled')
      }
    }
  },
  created () {
    window.addEventListener('scroll', this.handleSCroll)
  },
  destroyed () {
    window.removeEventListener('scroll', this.handleSCroll)
  }
}
</script>

<style lang="scss">
  @import '../styles/style.scss';
  @import '../styles/media.scss';

</style>
