<template>
  <div id="app">
    <Navbar/>
    <router-view/>
    <Footer/>
  </div>
</template>

<script>
import Navbar from '@/components/Navbar.vue'
import Footer from '@/components/Footer.vue'
export default {
  name: 'App',
  components: {
    Navbar, Footer
  }
}
</script>

<style lang="scss">
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
$font-family: 'Poppins', sans-serif;

* {
  box-sizing: border-box;
  margin: 0;
  font-family: $font-family;
}

::-webkit-scrollbar {
  width: 7.5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #1B262C;
  opacity: 0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #10161A;
  border-radius: 10px 0 0 10px;
  margin: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #0F4C75;
}

#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  background: #1B262C;
}
</style>
